node_modules
npm-debug.log
*.pem
!mock-cert.pem
.env
coverage
lib
*.log
coverage/
dist/
/test/fixtures/mock-cert.pem
rupert-the-bot-1.0.0.tgz
*.tgz
package/
packaged.yml
build.toml
.env.example
.aws-sam/